<h1><%= @party.title %><h1>

<div class='party-card'>
  <ul>
    <li class='date'>Date: <%= @party.date.strftime('%A, %b %d') %></li>
    <li class='description'><%= @party.description %></li>
    <% if current_user %>
      <li class='address'>Address: <%= @party.street_address %>, <%= @party.city %></li>
      <li class='host'>Hosted By: <%= @party.host.name %></li>
    <% end %>
  </ul>
</div>

<div>
  <% if current_user %>
    <% if current_user.parties.include?(@party) %>
      <p>You are attending this party.</p>
      <p><%= link_to "Text a friend!", text_path(party_id: @party), class: 'login-button' %></p>
      <p><%= link_to "Cancel Attendance", party_path(@party, attendance: "cancel"), class: 'login-button' %></p>
    <% else %>
      <p><%= link_to "Attend", party_path(@party, attendance: "attend"), class: 'login-button' %></p>
    <% end %>
  <% else %>
    <p>Please log in to view party details and to rsvp.</p>
  <% end %>
</div>

<%= link_to "Back to all Parties in #{@party.zip_code}", party_search_path(q_find: @party.zip_code), class: 'create-button btn' %>
