<h1 class="title"><%= @party.title %><h1>
<div class='index-card party-show-card'>
<div class="pad-left">
    <h4 class='date'>Date: <%= @party.view_date %></h4>
    <h4 class='date'>Time: <%= @party.view_time %></h4>
    <h4 class='description'><%= @party.description %></h4>
    <% if current_user %>
      <h4 class='address'>Address: <%= @party.street_address %>, <%= @party.city %></h4>
      <h4 class='host'>Hosted By: <%= @party.host.name %></h4>
    <% end %>
  </ul>
</div>

<div>
  <% if current_user %>
    <% if current_user.parties.include?(@party) %>
      <h4 class="pad-left">You are attending this party.</h4>

      <p><%= link_to "Text a friend!", text_path(party_id: @party), class: 'party-buttons' %></p>
      <p><%= link_to "Cancel Attendance", party_path(@party, attendance: "cancel"), class: 'party-buttons' %></p>
    <% else %>
      <p><%= link_to "Attend", party_path(@party, attendance: "attend"), class: 'login-button' %></p>
    <% end %>
  <% else %>
    <h6 class="pad-left">Please log in to view</br> party details and to rsvp.</h6>
  <% end %>
</div>

<%= link_to "Back to all Parties near #{@party.zip_code}", party_search_path(q_find: @party.zip_code), class: 'more-party-info' %>
</div>
<br>
<div class="attendee-title">Attendees</div>
<div>
  <% @party.users.each do |user| %>
    <div class="pad-left attendee-card"><%= user.name %></div>
  <% end %>
</div>
