<div class="landing-body">
  <div class="cont">
    <div class="image-container">
      <img src="<%= @apod.source %>" class="apod" alt="<%= @apod.description %>">
    </div>
  </div>
  </br>
  </br>
  <div class="button-holder">
    <%= form_tag :party_search, method: :get, class: "form-inline" do %>
      <div class="form-group search-field">
        <%= button_tag "Find a Star Party!", class: "btn find-a-party", type: 'button' %>
        <div><%= text_field_tag :q, nil, placeholder: 'Enter A Zip Code' , class: "form-control hidden-drop" %></div>
      </div>
    <% end %>
    </br>
    <button type="button" class="btn">Plan a Star Party!</button>
  </div>
</div>
