<div class="landing-body">
  <div class="cont">
    <div class="image-container">
      <img src="<%= @apod.source %>" class="apod" alt="<%= @apod.description %>">
    </div>
  </div>
  </br>
  </br>
  <div class="button-holder">
    <%= form_tag :party_search, method: :get, class: "form-inline" do %>
      <div class="form-group search-field">
        <div>
          <%= button_tag "Find a Star Party!", class: "btn zip-search", type: 'button' %>
          <div class="hidden-form">
            <%= text_field_tag :q, nil, placeholder: 'Enter A Zip Code' , class: "form-control hidden-drop" %>
            <%= button_tag "Search", class: "btn find-a-party", class: "form-control hidden-button" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_tag :plan_party, method: :get, class: "form-inline" do %>
      <div class="form-group search-field">
        <div>
          <%= button_tag "Plan a Star Party!", class: "btn zip-search", type: 'button' %>
            <div class="hidden-form">
              <%= text_field_tag :q, nil, placeholder: 'Enter A Zip Code' , class: "form-control hidden-drop" %>
              <%= button_tag "Search", class: "btn find-a-party", class: "form-control hidden-button" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
