<p>Enter in your friend's name and phone number (including area code) and we'll send them
  a text letting them know you're attending the party and you want
  them to join you! We will include a link to the party as well!</p>

<%= form_tag :text, method: :post %>

<div class="login-form">
  <div class="field">
    <%= text_field_tag :friend_name, nil, placeholder: "Friend's Name", class: "form-field"%>
  </div>

  <div class="field">
    <%= number_field_tag :phone_number, nil, placeholder: "Friend's Phone Number", class: "form-field" %>
  </div>

  <div class="field">
    <%= hidden_field_tag 'party_id', @party_id %>
  </div>

  <div class="create-button">
    <%= submit_tag "Submit", class: "login-button" %>
  </div>
  <br>
  <%= link_to "Go Back", party_path(@party_id), class: "more-party-info" %>
</div>
