<h3>Star Parties within 15 miles of <%= @party_search_result.parties.first[:zip_code] %></h3>

<% @party_search_result.parties.each do |party| %>
  <div class="party-card">
    <h5 class="title"><%= party.title %></h5>
    <div class="index-card">
      <div class="location party"><strong>What: </strong><%= party.description %></div>
      <div class="date party"><strong>Date: </strong><%= party.view_date %></div>
      <div class="date party"><strong>Time: <%= party.view_time %></div>

      <div class="description party"><strong>Where: </strong><%= party.location %></div>
      <div><%= link_to "View Party Details", party_path(party), class: 'create-button' %></div>
    </div>
  </div>
<% end %>
