<h1>Here are all Star Parties in Zip Code <%= @party_search_result.parties.first[:zip_code] %>:</h1>

<% @party_search_result.parties.each do |party| %>
  <ul class="party">
    <h4 class="title">Party Title: <%= party.title %></h4>
    <li class="date">Date: <%= party.date %></li>
    <li class="description">Description: <%= party.description %></li>
    <li class="street_address">Address: <%= party.street_address %></li>
    <li class="city">City: <%= party.city %></li>
    <li class="state">State: <%= party.state %></li>
    <li class="zip_code">Zip: <%= party.zip_code %></li>
  </ul>
<% end %>
